/* style.css */
body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fff;
}

.logo img {
  height: 50px;  /* 원하는 로고 크기로 조절 */
  vertical-align: middle;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2rem;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* 살짝 그림자 */
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-area img {
  height: 45px;         /* 너무 작으면 50px 정도까지 키워도 OK */
  object-fit: contain;
}

.logo-area span {
  font-weight: bold;
  font-size: 1.1rem;
  color: #1a1a1a;
  letter-spacing: -0.5px;
}

.navbar a {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.hero {
  background: url('박스제작.jpg') no-repeat center center/cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  z-index: 1;
   background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  border-radius: 10px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero span {
  color: #4da6ff;
}

.hero p {
  font-size: 1.2rem;
}
